.containerBtn {
    display: flex;
    place-content: center;
    width: 100%;


    .btnBack {
        font-size: 1.5rem;
        padding: .2rem 2rem;
        margin: auto;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;

    h1 {
        text-align: center;
    }
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;

    .textArea {
        width: 100%;
        font-size: 1.2rem;
    }
}